{% extends 'base.html' %}


{% block content %}

<div id='alertApp'>
    <h5 class="card-title text-center">Send Signal</h5>
    <br>
    [[result]]
    <br>

    <button v-if='!primed' v-on:click="preparePost()" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send "HANG UP YOUR PHONE" Message</button>
    
    <button v-if='primed' v-on:click="postNote()" class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Confirm: You want to make the Alexa say "HANG UP YOUR PHONE"</button>
    
    <button v-if='primed' v-on:click="cancelPost()" class="btn btn-lg btn-danger btn-block text-uppercase" type="submit">Cancel</button>
    

    

</div>

<script>
const pushUrl = "{% url 'api:push_button' %}"


const app = new Vue({
    delimiters: ["[[", "]]"],
    el: "#alertApp",
    data: {
        result: "",
        primed: false,
        secondsLeft: null
        
    },
    methods: {
        reset: function(){
            
            this.result = ''
        },
        
        preparePost: function(){
            this.primed = true
        },
        cancelPost: function(){
            this.primed = false
        },
        
        postNote: function(){
            this.cancelPost()
            axios.post(pushUrl).then(
                r => {
                    this.result = r.data.message
                    
                    this.secondsLeft = null
                }
            ).catch(
                e => {
                    
                        this.result = "FAILED TO SEND MESSAGE"
                        alert("Failed to send message")
                     
                    }
            )
            
            
        },
        
        
    },

   
    
})

</script>
{% endblock %}